@model RsApplication



@{
    var lines = new
    {
        width = 0.0001
    };

    //var border = new Syncfusion.EJ2.Charts.ChartBorder
    //{
    //    Width = 0,
    //    Color = "transparent"
    //};

    //var location = new
    //{
    //    x = 300,
    //    y = 300
    //};
}





@*<script>

    function chartMouseClick(obj)
    {
        console.log(obj.target);
    }

</script>





<div>
    <ejs-chart id="splineContainer"
               load="window.onChartLoad"
               chartMouseClick="chartMouseClick"
               height="300">


        <e-chart-primaryxaxis majorGridLines="@lines"
                              labelIntersectAction="Rotate45"
                              valueType="DateTime"
                              maximum="Model?.BeginDate.AddDays(-1)"
                              minimum="Model?.EndDate.AddDays(1)"
                              edgeLabelPlacement="Shift"
                              intervalType="Days"
                              labelFormat="dd MMM"
                              enableAutoIntervalOnZooming="true"></e-chart-primaryxaxis>

        <e-chart-primaryyaxis minimum="0"
                              maximum="2"
                              interval="0.25"
                              title="ставка"
                              labelFormat="{value}"
                              majorTickLines="@lines"
                              lineStyle="@lines"></e-chart-primaryyaxis>

        <e-series-collection>
            

            @foreach (ChartData<DateTime> chartData in ViewBag.ColumnsDataSource)
            {
                <e-series dataSource="chartData.DataSource"
                          name="@(chartData.Name)"
                          id="@(chartData.Name)"
                          columnWidth="0.75"
                          xName="X"
                          yName="Y"
                          width="2"
                          opacity="0.8"
                          fill="@(chartData.Color)"
                          legendShape="@(Syncfusion.EJ2.Charts.LegendShape.SeriesType)"
                          type="@(chartData.SeriesType)">

                    
                    <e-segments>
                        <e-segment ></e-segment>
                    </e-segments>
 
                </e-series>
            }

            @foreach (ChartData<DateTime> chartData in ViewBag.LineDataSource)
            {
                <e-series dataSource="chartData.DataSource"
                          name="@(chartData.Name)"
                          id="@(chartData.Name)"
                          xName="X"
                          yName="Y"
                          width="2.5"
                          opacity="1"
                          fill="@(chartData.Color)"
                          type="@(chartData.SeriesType)"
                          enableTooltip="false"></e-series>
            }

        </e-series-collection>

        <e-chart-zoomsettings enableMouseWheelZooming="true"
                              enablePinchZooming="true"
                              mode="X"
                              enableScrollbar="true"></e-chart-zoomsettings>

        <e-chart-margin bottom="10"
                        top="10"
                        left="0"
                        right="15"></e-chart-margin>

        <e-chart-tooltipsettings enable="true"
                                 enableAnimation="true"
                                 header="проект: <b>${series.name} ${point.x}</b>"
                                 format="<b>${point.x}</b>, ставка: <b>${point.y}</b>"></e-chart-tooltipsettings>

        <e-chart-legendsettings toggleVisibility="true"
                                position="Bottom"></e-chart-legendsettings>

        <e-chart-chartarea>
            <e-chartarea-border width="0.0001"></e-chartarea-border>
        </e-chart-chartarea>

    </ejs-chart>
</div>*@



<div>
    <ej-chart id="container"
              can-resize="true"
              is-responsive="true"
              load="loadTheme"
              enable-canvas-rendering="true"
              >
        
        @*<e-zooming enable-mouse-wheel="true"
                   enable-scrollbar="true"
                   type="X"></e-zooming>*@

        <e-size height="300"></e-size>

        <e-legend visible="true"></e-legend>

        <e-primary-x-axis value-type="Syncfusion.JavaScript.DataVisualization.AxisValueType.Datetime">

            <e-scrollbar-settings visible="true"
                                  can-resize="true">
                <e-scroll-range min="@(new DateTime(2018, 1, 1))"
                                max="@(new DateTime(2018, 12, 31))"></e-scroll-range>
            </e-scrollbar-settings>

            <e-major-grid-lines visible="false"></e-major-grid-lines>
        </e-primary-x-axis>

        <e-primary-y-axis>
            <e-range max="2.0"
                     min="0"
                     interval="0.25"></e-range>
            <e-title text="ставка"></e-title>
        </e-primary-y-axis>
        
        

        <e-common-series-options>
            <e-chart-tooltip visible="true"
                             format="#series.name#  <br/> #point.x# : #point.y#"></e-chart-tooltip>
        </e-common-series-options>

        <e-chart-series>

            @foreach (ChartData<DateTime> chartData in ViewBag.ColumnsDataSource)
            {
                <e-series name="@(chartData.Name)"
                          type="StackingColumn"
                          column-width="0.75"
                          opacity="0.8"
                          datasource="@chartData.DataSource"
                          x-name="X"
                          y-name="Y"
                          fill="@(chartData.Color)"></e-series>
            }

            @foreach (ChartData<DateTime> chartData in ViewBag.LineDataSource)
            {
                <e-series dataSource="chartData.DataSource"
                          name="@(chartData.Name)"
                          x-name="X"
                          y-name="Y"
                          width="2.5"
                          opacity="1"
                          fill="@(chartData.Color)"
                          type="StepLine"></e-series>
            }

        </e-chart-series>

    </ej-chart>


</div>



@section Scripts
{ 
    <script>
        $("#controlarea").css("visibility", "visible");
    </script>
}


