<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Devexpress</title>


    <link rel="stylesheet"
          href="~/lib/bootstrap/css/bootstrap.min.css" />
    @* automatically render style references required by DevExpress *@
    @Html.DevExpress().StyleSheets()
    <link rel="stylesheet"
          href="~/css/site.min.css"
          asp-append-version="true" />




</head>
<body>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"
            asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    @* automatically render script references required by DevExpress *@
    @Html.DevExpress().Scripts()
</body>
</html>
