@{
    ViewData["Title"] = "Form";
}

@model Application

<form asp-action="Create"
      asp-controller="Home"
      asp-antiforgery="true"
      class="needs-validation w-100">


    <div>

        <h4 class="mb-3">Заявка #<span style="color:cornflowerblue">@Model.Number</span> Статус: <span style="color:cornflowerblue">@Model.ApplicationStatusString</span></h4>

        <div class="row">

            <div class="col-md-4">

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Проект</label>
                    </small>
                    <ejs-combobox id="Projects"
                                  placeholder="Select a project"
                                  popupHeight="200px"
                                  dataSource="@ViewBag.ProjectsDataSource"
                                  value="@Model.Project.Id"
                                  text="@Model.Project.Name">
                        <e-combobox-fields text="Name"
                                           value="Id"></e-combobox-fields>
                    </ejs-combobox>
                </div>

                <div class="mb-3">
                    <small class="text-muted">Заказчик</small>
                    <div>@Model.Project.Client.Name</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Подразделение</small>
                        <div>PC09</div>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Рынок</small>
                        <div>DE</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">SMD</small>
                        <div>@Model.Smd.FullName</div>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Руководитель проекта</small>
                        <div>@Model.ProjectManager.FullName</div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Начало</small>
                        <ejs-datepicker id="beginDate"
                                        placeholder="Choose a Date"
                                        value="@Model.BeginDate"
                                        format="dd-MM-yyyy"
                                        change="beginDateChange"></ejs-datepicker>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Завершение</small>
                        <ejs-datepicker id="endDate"
                                        placeholder="Choose a Date"
                                        value="@Model.EndDate"
                                        format="dd-MM-yyyy"
                                        change="endDateChange"></ejs-datepicker>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Ставка</small>
                        <ejs-dropdownlist id="Rates"
                                          dataSource="@ViewBag.RatesDataSource"
                                          placeholder="Select a rate"
                                          popupHeight="220px"
                                          value="@Model.Rate"></ejs-dropdownlist>
                    </div>
                    <div class="col-md-6">
                        <small class="text-muted">Количество часов</small>
                        <ejs-numerictextbox id="Hours"
                                            showSpinButton="false"
                                            value="@(((Model.EndDate - Model.BeginDate).Days + 1) * Model.Rate * 8)"
                                            readonly="true"
                                            format="n"
                                            Type="text"></ejs-numerictextbox>
                    </div>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Кандидат</label>
                    </small>
                    <ejs-combobox id="Candidates"
                                  placeholder="Select a candidate"
                                  popupHeight="200px"
                                  dataSource="@ViewBag.CandidatesDataSource"
                                  value="@Model.Candidate.Id"
                                  text="@Model.Candidate.FullName">
                        <e-combobox-fields groupBy="SpecialtyString"
                                           text="FullName"
                                           value="Id"></e-combobox-fields>
                    </ejs-combobox>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Специальность</label>
                    </small>
                    <select class="form-control">
                        <option value="1">Программист</option>
                        <option value="2">Программизд</option>
                    </select>
                </div>

                <div class="mb-3">
                    <small class="text-muted">
                        <label>Квалификация</label>
                    </small>
                    <select class="form-control">
                        <option value="1">Бог</option>
                        <option value="2">Сеньор</option>
                        <option value="3">Мидл</option>
                        <option value="4">Джуниор</option>
                        <option value="5">Отстой</option>
                    </select>
                </div>

            </div>

            <div class="col-md-4">

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div>Детализация по:</div>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="1">Дням</option>
                            <option value="1">Неделям</option>
                            <option value="1">Месяцам</option>
                            <option value="1">Годам</option>
                            <option value="1">Столетиям</option>
                            <option value="1">Вечности</option>
                        </select>
                    </div>
                </div>
                
                <div>Новый комментарий</div>
                <div class="row mb-3">
                    <div class="col">
                        <textarea style="width: 100%;"></textarea>
                    </div>
                </div>

            </div>

        </div>

        <br />

        @*CHART*@
        <div class="row">
            <div class="col">
                <partial name="Chart" />
            </div>
        </div>

        <br />

        @*GRID*@
        <div class="row">

            <div class="col">
                <ejs-grid id="Grid"
                          dataSource="@ViewBag.GridDataSource"
                          allowPaging="true"
                          allowReordering="true"
                          allowResizing="true"
                          allowSorting="true"
                          showColumnMenu="true"
                          allowGrouping="true"
                          allowFiltering="true"
                          allowMultiSorting="true"
                          allowExcelExport="true"
                          allowPdfExport="true"
                          allowRowDragAndDrop="true"
                          enableAltRow="true"
                          allowSelection="true"
                          toolbar="@(new List<string> {"Search"})">

                    <e-grid-pagesettings pageSize="10.0"
                                         pageSizes="@(new[] {"5", "10", "20", "All"})"></e-grid-pagesettings>

                    <e-grid-filterSettings mode="Immediate"
                                           immediateModeDelay="200.0"
                                           type="FilterBar"></e-grid-filterSettings>

                    <e-grid-columns>
                        <e-grid-column field="Number"
                                       headerText="Номер"
                                       width="30"></e-grid-column>
                        <e-grid-column field="ApplicationStatusString"
                                       headerText="Статус"
                                       width="50"></e-grid-column>
                        <e-grid-column field="Project.Name"
                                       headerText="Проект"
                                       width="50"></e-grid-column>
                        <e-grid-column field="SpecialtyString"
                                       headerText="Специальность"
                                       width="50"></e-grid-column>
                        <e-grid-column field="QualificationString"
                                       headerText="Квалификация"
                                       width="40"></e-grid-column>
                        <e-grid-column field="Rate"
                                       headerText="Ставка"
                                       width="30"></e-grid-column>
                        <e-grid-column field="Candidate.FullName"
                                       headerText="Кандидат"
                                       width="50"></e-grid-column>
                        <e-grid-column field="BeginDate"
                                       headerText="Начало"
                                       width="40"
                                       format="yMd"></e-grid-column>
                        <e-grid-column field="EndDate"
                                       headerText="Завершение"
                                       width="40"
                                       format="yMd"></e-grid-column>
                        <e-grid-column field="ProjectManager.FullName"
                                       headerText="Руководитель проекта"
                                       width="50"></e-grid-column>
                        <e-grid-column field="Smd.FullName"
                                       headerText="SMD"
                                       width="50"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>

        </div>

        <br />

        <div>Описание</div>
        <div class="row">
            <div class="col">
                <textarea style="width: 100%;"></textarea>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col">
                <input type="button"
                       name="but1"
                       value="Назад"
                       class="btn btn-primary"
                       style="margin-bottom:3px;" />

                @*<input type="submit"
                       name="save"
                       value="Отправить"
                       class="btn btn-primary"
                       style="margin-bottom:3px;" />*@

                <input type="button"
                       name="but2"
                       value="Одобрить"
                       class="btn btn-primary"
                       style="margin-bottom:3px;" />


                <input type="button"
                       name="but3"
                       value="Черновик"
                       class="btn btn-primary"
                       style="margin-bottom:3px;" />
            </div>

        </div>

    </div>
</form>






<script>

    function beginDateChange(a, b, c, d, e)
    {
        console.log("bd");   
    }

    function endDateChange(a, b, c, d, e)
    {
        console.log("ed");
    }

</script>


