@model RsApplication



@{
    var appIsNew = Model?.ApplicationStatus?.Type == RsApplicationStatusType.New;
}





<script>

    function cbProjetsChange(parameters)
    {
        console.log("cbProjetsChange");

        $.ajax({
            type: "POST",
            url: "@(Url.Action("ProjectInfo", "Home"))",
            // передача в качестве объекта
            // поля будут закодированые через encodeURIComponent автоматически
            data: { projectId: this.value },
            success: function (project)
            {
                document.getElementById("projectDepartment").innerHTML = project.Department || "";
                document.getElementById("projectMarket").innerHTML = project.Market || "";
                document.getElementById("projectClientName").innerHTML = project.Client.Name || "";
                document.getElementById("projectSmdFullName").innerHTML = project.Smd.FullName || "";
                document.getElementById("projectProjectManagerFullName").innerHTML = project.ProjectManager.FullName || "";
            }
        });
    }

</script>





<div>
    <div class="mb-0">

        <small class="text-muted">Проект</small>
        <ejs-combobox id="Projects"
                      placeholder="Выберите проект"
                      popupHeight="200px"
                      dataSource="@ViewBag.ProjectsDataSource"
                      value="@Model?.Project?.Id"
                      text="@Model?.Project?.Name"
                      readonly="@(!appIsNew)"
                      enabled="@(appIsNew)"
                      change="cbProjetsChange">

            <e-combobox-fields text="Name"
                               value="Id"></e-combobox-fields>
        </ejs-combobox>

    </div>



    <div class="mb-3">

        <ejs-accordion id="ProjectInfoAccordion">
            <e-accordion-accordionitems>
                <e-accordion-accordionitem expanded="false"
                                           header="Информация о проекте"
                                           content="#ProjectInfoAccordionContent">
                </e-accordion-accordionitem>
            </e-accordion-accordionitems>
        </ejs-accordion>

    </div>



    <div id="ProjectInfoAccordionContent"
         style="display: none">

        <div class="mb-3">
            <small class="text-muted">Заказчик</small>
            <div id="projectClientName">@(Model?.Project?.Client?.Name ?? "")</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <small class="text-muted">Подразделение</small>
                <div id="projectDepartment">@(Model?.Project?.Department ?? "")</div>
            </div>
            <div class="col-md-6">
                <small class="text-muted">Рынок</small>
                <div  id="projectMarket">@(Model?.Project?.Market ?? "")</div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <small class="text-muted">SMD</small>
                <div id="projectSmdFullName">@(Model?.Project?.Smd?.FullName ?? "")</div>
            </div>
            <div class="col-md-6">
                <small class="text-muted">Руководитель проекта</small>
                <div id="projectProjectManagerFullName">@(Model?.Project?.ProjectManager?.FullName ?? "")</div>
            </div>
        </div>

    </div>
</div>
