@model RsApplication



@{
    var appIsNew = Model?.ApplicationStatus?.Type == RsApplicationStatusType.New;
    var hours = ((Model?.EndDate - Model?.BeginDate)?.Days + 1) * Model?.Rate?.Value * 8;

    if (hours == 0.0m)
    {
        hours = null;
    }
}




<script>

    function beginDateChange(obj)
    {
        console.log("bd");

        document.getElementById("MainForm").submit();

        //var grid =
        //    document
        //        .getElementById("CrossingGrid")
        //        .ej2_instances[0];

        //grid.dataSource = null;
        //grid.refresh();
    }

    function endDateChange(obj)
    {
        console.log("ed");

        document.getElementById("MainForm").submit();
    }

    function rateChange(obj)
    {
        console.log("r");

        let bd = document.getElementById("beginDate").ej2_instances[0].value;
        let edLesser = document.getElementById("endDate").ej2_instances[0].value;
        let ed = new Date(edLesser);

        ed.setDate(edLesser.getDate() + 1);

        let hours = (Math.abs(ed - bd) / 3600000 / 3) * parseFloat(this.text);

        document.getElementById("Hours").ej2_instances[0].value = hours;
    }

</script>




<div>
    <div class="row">
        <div class="col-md-6">

            <small class="text-muted">Начало</small>
            <ejs-datepicker id="beginDate"
                            name="beginDate"
                            placeholder="Выберите дату"
                            value="@(Model?.BeginDate)"
                            max="@(Model?.EndDate)"
                            min="@(appIsNew ? new DateTime(DateTime.Now.Year, 1, 1) : Model?.BeginDate)"
                            format="dd-MM-yyyy"
                            change="beginDateChange"
                            readonly="@(!appIsNew)"
                            enabled="@(appIsNew)"></ejs-datepicker>

        </div>

        <div class="col-md-6">

            <small class="text-muted">Завершение</small>
            <ejs-datepicker id="endDate"
                            name="endDate"
                            placeholder="Выберите дату"
                            value="@(Model?.EndDate)"
                            max="@(appIsNew ? new DateTime(DateTime.Now.Year, 12, 31) : Model?.EndDate)"
                            min="@(Model?.BeginDate)"
                            format="dd-MM-yyyy"
                            change="endDateChange"
                            readonly="@(!appIsNew)"
                            enabled="@(appIsNew)"></ejs-datepicker>

        </div>
    </div>



    <div class="row mb-3">
        <div class="col-md-6">

            <small class="text-muted">Ставка</small>
            <ejs-dropdownlist id="Rates"
                              name="rate"
                              dataSource="@(ViewBag.RatesDataSource)"
                              placeholder="Выберите ставку"
                              popupHeight="220px"
                              value="@(Model?.Rate?.Type)"
                              readonly="@(!appIsNew)"
                              enabled="@(appIsNew)"
                              change="rateChange">
                
                <e-dropdownlist-fields text="Name"
                                       value="Type"></e-dropdownlist-fields>
            </ejs-dropdownlist>

        </div>

        <div class="col-md-6">

            <small class="text-muted">Часов</small>
            <ejs-numerictextbox id="Hours"
                                showSpinButton="false"
                                value="@(hours)"
                                readonly="true"
                                enabled="@(appIsNew)"
                                format="n"
                                Type="text"></ejs-numerictextbox>

        </div>

    </div>
</div>