@functions{

    public object GetUserInfo()
    {
        var user = User?.Identity as System.Security.Principal.WindowsIdentity ?? User?.Identity;

        var userInfo = new
        {
            name = user?.Name ?? "unknown",
            authenticationType = user?.AuthenticationType ?? "unknown",
            isAuthenticated = user?.IsAuthenticated ?? false
        };

        return userInfo;
    }

    public Microsoft.AspNetCore.Html.IHtmlContent Serialize(object obj)
    {
        return Json.Serialize(obj);
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Permissions</title>

    <environment include="Development">
        <script src="~/js/errorHandler.js"
                asp-append-version="true"></script>
        <script src="~/js/helpers.js"
                asp-append-version="true"></script>
        <link rel="stylesheet"
              href="~/css/site.css"
              asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <script src="~/js/errorHandler.min.js"
                asp-append-version="true"></script>
        <script src="~/js/helpers.min.js"
                asp-append-version="true"></script>
        <link rel="stylesheet"
              href="~/css/site.min.css"
              asp-append-version="true" />
    </environment>
</head>
<body>
    <script>
        window.SamTestCompleted.ErrorModule.actions.initialize(@(Serialize(GetUserInfo())), "@(Url.Action("UiError", "Error"))");
        window.SamTestCompleted.Helpers.BrowserHelper.actions.constraintBrowsers();
    </script>
    
    <div>
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/js/site.js"
                asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"
                asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
