@{
    var num = ViewData["Num"];
    var debugCss = $"/css/Ko{num}.css";
    var releaseCss = $"/css/Ko{num}.min.css";
    var debugJs = $"/js/Ko{num}.js";
    var releaseJs = $"/js/Ko{num}.min.js";
    var partialName = $"Ko{num}";
}




<environment include="Development">
    <link rel="stylesheet" href="@debugCss" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="@releaseCss" />
</environment>





<div class="row mb-5"
     style="border: 3px solid black;">
    <div class="col-8">
        <partial name="@partialName"/>
    </div>
</div>





<environment include="Development">
    <script type="text/javascript" src="@debugJs"></script>
</environment>
<environment exclude="Development">
    <script type="text/javascript" src="@releaseJs"></script>
</environment>
